<div>
  <div *ngFor="let weather of weathers | async; let i = index">
    <form [formGroup]="formGroupsWeathers[i]" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
      <mat-form-field>
        <mat-select formControlName="city" placeholder="Select city">
          <mat-option *ngFor="let city of cities" [value]="city">{{city}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="units" placeholder="Units(metric, standard, etc.)">
      </mat-form-field>
      <button mat-icon-button type="submit">
        <mat-icon>add</mat-icon>
      </button>
    </form>
    <div fxLayout="row" fxLayoutAlign="center center">
      <h1>{{weather.city}}</h1>
      <h1>{{weather.temperature > 0 ? '+' : ''}}{{weather.temperature}};</h1>
      <img [src]="getImageSrc(weather.icon)"/>
    </div>
  </div>
  <div *ngIf="(weathers | async).length < cities.length">
    <form [formGroup]="newWeatherForm" fxLayout="row" fxLayoutAlign="center center"
          fxLayoutGap="20px">
      <mat-form-field>
        <mat-select formControlName="city" placeholder="Select city">
          <mat-option *ngFor="let city of cities" [value]="city">{{city}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="units" placeholder="Units(metric, standard, etc.)">
      </mat-form-field>
      <button type="submit" mat-icon-button (click)="onNewWeather()">
        <mat-icon>add</mat-icon>
      </button>
    </form>
  </div>
</div>
